<%- include('../partials/header') %>
<p>Please first ensure that the seat is not in the dropdown
  <select>
    <% tickets.forEach(function(t) { %>
      <option><%= t.seat %></option>
    <% }) %>
  </select>
</p>
<form id="add-ticket-form" action="/tickets" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat">
  <label>Price:</label>
  <input type="number" name="price">
  <label>Flight:</label>
  <input type="number" name="flight">
  <input class="addDest" type="submit" value="Add Ticket">
</form>
<%- include('../partials/footer') %>