<%- include('../partials/header') %>

    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
	<label>Airline:
	  <input type="text" name="airline">
	</label><br>
	<label>Flight Number:
	  <input type="number" name="flightNo">
	</label><br>
	<label>Date of Departure:
	  <input type="date" name="departs">
	</label><br>
	<label>Passengers (separate passengers with commas):
	  <input type="text" name="passengers">
	</label><br>
	<label>On Time:
	  <input type="checkbox" name="onTime" checked>
	</label><br>
	<input class="add" type="submit" value="Add Flight">
</form>
</section>
</body>
</html>