<%- include('../partials/header') %>

    <h2>Enter a New Flight</h2>
<form class="addFlightForm" action="/flights" method="POST">
	<label class="addFlight">Airline:
	  <input class="addFlight" type="text" name="airline">
	</label><br>
	<label class="addFlight">Flight Number:
	  <input class="addFlight" type="number" name="flightNo">
	</label><br>
	<label class="addFlight">Date of Departure:
	  <input class="addFlight" type="date" name="departs">
	</label><br>
	<label class="addFlight">On Time:
	  <input class="addFlight" type="checkbox" name="onTime" checked>
	</label><br>
	<input class="addFlightButton" class="addFlightButton" type="submit" value="Add Flight">
</form>
</section>
</body>
</html>